        body {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            height: 100px;
            /* background-color: bisque; */
            display: flex;
            align-items: baseline;
            justify-content: space-between;

        }

        .header-menu {
            display: flex;
            /* flex-direction: row-reverse */
            gap: 10px;
            margin-right: 60px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: black;
        }

        .header-menu-2 {
            display: flex;
            /* flex-direction: row-reverse
            margin-right: 60px; */
            gap: 10px;
            justify-content: space-around;

            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: black;
        }

        .header-name {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 40px;
            padding: 24px;
            gap: 10px;
            font-family: 'Work Sans', sans-serif;
            font-size: 26px;
            font-weight: 400px;
            align-items: baseline;

        }

        .topsubname {
            display: flex;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300px;
            text-align: left;
        }

        .section1 {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px;
            /* background-color: aqua; */



        }

        .central_image {
            /* border-radius: 50%; */ 
            filter: drop-shadow(5px 5px 5px grey);



        }

        .main-text {
            display: block;
            flex-direction: column;
            justify-content: flex-start;
            /* background-color: rgb(235, 137, 137); */
flex-wrap: wrap;
            margin-left: 30px;
            align-content: flex-start;
            width: 300px;

        }

        .main-text-name {
            font-size: 80px;
            font-family: 'Work Sans', sans-serif;
        }



        .undername {

            font-size: 22px;
            font-family: 'Work Sans', sans-serif;

        }

        .undername2{
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300px;
        }
